[Unit]
Description=Control fan speed on RockPro64 using Armbian based on temperature

[Service]
ExecStart=fancontroller

[Install]
WantedBy=multi-user.target
